[submodule "submodules/Automodel"]
	path = submodules/Automodel
	url = https://github.com/NVIDIA-NeMo/Automodel
[submodule "submodules/MoME"]
	path = submodules/MoME
	url = https://github.com/BruceZhangReve/MoME.git
[submodule "submodules/Megatron-Bridge"]
	path = submodules/Megatron-Bridge
	url = https://github.com/NVIDIA-NeMo/Megatron-Bridge.git
[submodule "submodules/TokenCast"]
	path = submodules/TokenCast
	url = https://github.com/ustc-time-series/TokenCast.git
[submodule "submodules/runpod-mcp"]
	path = submodules/runpod-mcp
	url = https://github.com/runpod/runpod-mcp.git
[submodule "submodules/Chem3DLLM"]
	path = submodules/Chem3DLLM
	url = https://github.com/Joe-J/Chem3DLLM.git
[submodule "submodules/NV-Tesseract"]
	path = submodules/NV-Tesseract
	url = https://github.com/NVIDIA/NV-Tesseract.git
